

	<div class="classifyList">
		
		<div class="classifyList-title common">
			
			<div class="search">
				<div class="go-to"><img src="./public/images/inco/fh@3x.png"></div>
				<h5>冒险</h5>
				<div class="search-img"><img src="./public/images/inco/sst@3x.png"></div>
			</div>

		</div>

		<div class="classifyList-main">
			
			<div class="main-banner">
				
				<div class="swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide"><span>妖精的尾巴</span><img src="./public/images/main/classifyList/l@3x.png" alt="" /></div>
			            <div class="swiper-slide"><span>死神</span><img src="./public/images/main/classifyList/ll@3x.png" alt="" /></div>
			            <div class="swiper-slide"><span>刀剑神域Ⅱ</span><img src="./public/images/main/classifyList/lll@3x.png" alt="" /></div>
			            <div class="swiper-slide"><span>亚人</span><img src="./public/images/main/classifyList/llll@3x.png" alt="" /></div>
			        </div>
			        <!-- Add Pagination -->
			        <div class="swiper-pagination"></div>
			    </div>
			    <script type="text/javascript" src="./public/js/swiper.min.js"></script>
			    <script>
				    var swiper = new Swiper('.swiper-container', {
				        pagination: '.swiper-pagination',
				        slidesPerView: 'auto',
				        paginationClickable: true,
				        spaceBetween: 10,	//  margin-right 
				    });
				</script>
			</div>
			
			<ul class="main-list">

				<li>
					<div class="fl play">
						<i class="new-num">8.5</i>
						<a ng-click="goStateName('home.videoPage')">
						<img src="./public/images/main/classifyList/l@3x.png" alt="" />
						<i class="play-num">335</i>
					</a></div>

					<div class="fr synopsis">
						<ul>
							<li>妖精的尾巴</li>
							<li>作 者：真岛浩</li>
							<li>地 区: 日本</li>
							<li>故事叙述在一个充满魔法的世界——“阿斯兰特（EARTH LAND）”中，位于菲奥雷王国的一个众多厉害魔导士……</li>
						</ul>
					</div>
				</li>

				<li>
					
					<div class="fl play">
						<i class="new-num">8.5</i>
						<a ng-click="goStateName('home.videoPage')">
						<img src="./public/images/main/classifyList/ll@3x.png" alt="" />
						<i class="play-num">335</i>
					</a></div>

					<div class="fr synopsis">
						<ul>
							<li>死神</li>
							<li>作 者：真岛浩</li>
							<li>地 区: 日本</li>
							<li>故事的主角黑崎一护是个看似暴力、单薄，实质上善良、勇敢、爱护家庭的少年，并且拥有能看见灵的体质。……</li>
						</ul>
					</div>
				</li>

				<li>
					
					<div class="fl play">
						<i class="new-num">8.5</i>
						<a ng-click="goStateName('home.videoPage')">
						<img src="./public/images/main/classifyList/lll@3x.png" alt="" />
						<i class="play-num">335</i>
					</a></div>

					<div class="fr synopsis">
						<ul>
							<li>刀剑神域Ⅱ</li>
							<li>作 者：川原砾</li>
							<li>地 区: 日本</li>
							<li>“SAO”事件已经过去了一年，某日 ，桐人接到了来自总务省“虚拟课”菊冈诚二郎的奇怪委托。……</li>
						</ul>
					</div>
				</li>

				<li>
					
					<div class="fl play">
						<i class="new-num">8.5</i>
						<a ng-click="goStateName('home.videoPage')">
						<img src="./public/images/main/classifyList/llll@3x.png" alt="" />
						<i class="play-num">335</i>
					</a></div>

					<div class="fr synopsis">
						<ul>
							<li>亚人</li>
							<li>作 者：樱井画门</li>
							<li>地 区:  日本</li>
							<li>中学生永井圭意外被货车撞死，却在众目睽睽之下复活，证实了他是不会死的“亚人”……</li>
						</ul>
					</div>
				</li>

			</ul>


		</div>

		

	</div>
