

	<div class="search">
		
		<div class="search-title common">
			
			<div class="search">
				<div class="go-to"><img src="./public/images/inco/delete.png"></div>
				<form class="search-form">
					<div>
						<input type="search" name="">
					</div>
				</form>
				<div class="search-img"><img src="./public/images/inco/sst@3x.png"></div>
			</div>

			<div class="lastest-searches">
				<p>最近搜索 <i></i></p>
				<ul>
					<li><a href="">美图</a></li>
				</ul>
			</div>

			<div class="hot-searches">
				<p>热门搜索 <i></i></p>
				<ul>
					<li><a href="">晾衣架</a></li>
					<li><a href="">高清线hdmi</a></li>
					<li><a href="">保温壶</a></li>
					<li><a href="">铝合金门窗</a></li>
					<li><a href="">碟机播放器</a></li>
					<li><a href="">游戏方向盘</a></li>
					<li><a href="">无线网卡</a></li>
					<li><a href="">电脑散热架</a></li>
					<li><a href="">唇彩唇蜜</a></li>
					<li><a href="">斯诺克球杆</a></li>
					<li><a href="">美图</a></li>
				</ul>
			</div>

		</div>
	</div>
