

	<div class="classify">
		
		<div class="classify-title common">
			
			<div class="search">
				<h5>动漫分类</h5>
				<div class="search-img"><img src="./public/images/inco/sst@3x.png"></div>
			</div>

		</div>

		<div class="classify-main">
			
			<ul class="main-list">

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/77@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">校园</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/qw@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">恐怖</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/ss@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">搞笑</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/tt@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">经典</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li><a href="../classifyList/classifyList.html">
					<div class="list-img">
						<img src="./public/images/main/classify/qwz@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">冒险</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/zz@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">运动</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/z@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">感情</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/as@2x.jpg" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">科幻</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/aa@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">推理</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/88@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">宫廷</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/99@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">武侠</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

				<li ng-click="goStateName('home.classifyList')"><a>
					<div class="list-img">
						<img src="./public/images/main/classify/55@3x.png" alt="" />
						<div class="list-pass">
							<i></i>
							<i></i>
						</div>
					</div>
					
					<div class="list-info">
						<div class="fl list-name">玄幻</div>
						<div class="fr list-icon">
							<span></span>
							<span><i></i></span>
						</div>
					</div>
				</a></li>

			</ul>

			<div class="position-fixed"></div>
			
		</div>

		

	</div>
