	<div>
		
		<div ui-view></div>

		
		<div class="tabs">
			<ul>
				<li ng-click="goStateName('home.index')"><a>
					<img src="./public/images/inco/sy@3x.png" alt="" />
					<span class="on">首页</span>
				</a></li>

				<li ng-click="goStateName('home.classify')"><a>
					<img src="./public/images/inco/geng@3x.png" alt="" />
					<span>分类</span>
				</a></li>

				<li ng-click="goStateName('home.personal')"><a>
					<img src="./public/images/inco/ge@3x.png" alt="" />
					<span>我的</span>
				</a></li>
			</ul>
		</div>

	</div>