

	<div class="watchHistory">
		
		<div class="watchHistory-title common">
			
			<div class="search">
				<div class="go-to" ui-sref="home.personal"><img src="./public/images/inco/fh@3x.png"></div>
				<h5>历史记录</h5>
				<div class="search-img"><img src="./public/images/inco/ccc@3x.png"></div>
			</div>

		</div>

		<div class="watchHistory-main">
			<div class="main-time">
				<h5>今天</h5>
				<ul>

					<li>
						<div class="fl list-img">
							<a href="">
							<img src="./public/images/main/watchHistory/wwh@3x.png" alt="" />
						</a></div>

						<div class="fl list-name">
							<ul>
								<li>未闻花名 <i>06</i></li>
								<li><span class=""></span>观看至 %60</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="fl list-img">
							<a href="">
							<img src="./public/images/main/watchHistory/smbl@3x.png" alt="" />
						</a></div>

						<div class="fl list-name">
							<ul>
								<li>数码宝贝 <i>12</i></li>
								<li><span class=""></span>观看至 %60</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="fl list-img">
							<a href="">
							<img src="./public/images/main/watchHistory/jtjs@3x.png" alt="" />
						</a></div>

						<div class="fl list-name">
							<ul>
								<li>全职猎人 <i>55</i></li>
								<li><span class=""></span>观看至 %60</li>
							</ul>
						</div>
					</li>

				</ul>
			</div>

			<div class="main-time">
				<h5>昨天</h5>
				<ul>
					
					<li>
						<div class="fl list-img">
							<a href="">
							<img src="./public/images/main/watchHistory/hzs@3x.png" alt="" />
						</a></div>

						<div class="fl list-name">
							<ul>
								<li>黑执事 <i>10</i></li>
								<li><span class=""></span>观看至 %60</li>
							</ul>
						</div>
					</li>

					<li>
						<div class="fl list-img">
							<a href="">
							<img src="./public/images/main/watchHistory/gl@3x.png" alt="" />
						</a></div>

						<div class="fl list-name">
							<ul>
								<li>钢之炼金术师 <i>21</i></li>
								<li><span class=""></span>观看至 %60</li>
							</ul>
						</div>
					</li>

				</ul>
			</div>

			<div class="position-fixed"></div>
				
		</div>

		<div class="tabs">
			
			<ul>
				
				<li><a href="../index/index.html">
					<img src="./public/images/inco/shou@3x.png" alt="" />
					<span>首页</span>
				</a></li>

				<li><a href="">
					<img src="./public/images/inco/geng@3x.png" alt="" />
					<span>分类</span>
				</a></li>

				<li><a href="../personal/personal.html">
					<img src="./public/images/inco/gr@3x.png" alt="" />
					<span class="on">我的</span>
				</a></li>

			</ul>

		</div>

	</div>
