.myPrize, body, html {
	background-color: #fff;
}

.myPrize .myPrize-main {
	width: calc(100%);
	
	height: calc(100% - 110px);
	padding-top: 16px;
}

.myPrize .main-name {
	overflow: hidden;
	width: 66%;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 16px;
}

.myPrize .main-name div a {
	color: #565656;
}

.myPrize .main-name div.on a {
	color: #D61D1D;
}

.myPrize .main-list .padding-bg {
	padding-right: 5%;
	padding-left: 2%;
}

.myPrize .main-list > ul > li {
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 10px solid #EBEBEB;
}

.myPrize .main-list .list-img {
	width: 160px;
}

.myPrize .main-list .list-info {
	padding-top: 10px;
	width: calc(100% - 160px - 20px);
	margin-left: 20px;
	height: 100%;
}

.myPrize .list-info > div > p, .list-info > ul > li {
	width: 100%;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
}

.myPrize .list-info .info-score i {
	background: url('../../public/images/inco/xxx@3x.png') repeat-x;
	background-size: contain;
	width: 30px;
	height: 10px;
	float: left;
}

.myPrize .list-info .info-score span {
	background: url('../../public/images/inco/xxxx@3x.png') repeat-x;
	background-size: contain;
	width: 20px;
	height: 10px;
	float: left;
}

.myPrize .list-info > div{
	margin-bottom: 10px;
}

.myPrize .list-info > div.info-name > p{
	color: #D52845;

}

.myPrize .list-info > div.info-name > p:nth-child(2){
	font-size: 12px;
	color: #B2B2B2;
}

.myPrize .list-info > ul > li{
	color: #D52845;font-size: 12px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #EBEBEB;
}

.myPrize .list-info > ul > li > span {
	float: right;
	color: #5B5F66;
	padding-left: 30px;
}

.myPrize .list-info > .info-gift {
	width: 50px;
	
	margin-top: 10px;
}