

	<div class="myPrize">
		
		<div class="myPrize-title common">
			
			<div class="search">
				<div class="go-to" ui-sref="home.personal"><img src="./public/images/inco/fh@3x.png"></div>
				<h5>我的奖品</h5>
				<div class="search-img"><img src="./public/images/inco/ccc@3x.png"></div>
			</div>

		</div>

		<div class="myPrize-main">
			
			<div class="main-name">
				<div class="fl on"><a href="">全部奖品</a></div>
				<div class="fr"><a href="">奖品分类</a></div>
			</div>

			<div class="main-list">
				<ul>
					<li>
						<div class="padding-bg">
							<div class="fl list-img">
								<a href="">
									<img src="./public/images/main/myPrize/shubao@3x.png" alt="" />
								</a>
							</div>

							<div class="fl list-info">
								
								<div class="info-score">
									<p></p><i></i><span></span></p>
								</div>
								
								<div class="info-name">
									<p>刀剑神域</p>
									<p>幸运石动漫周边背包</p>
								</div>

								<ul>
									<li>时间<span>03 <i>/27</i></span></li>
									<li>数量<span>1 <i>/个</i></span></li>
									<li>价值<span>150 <i>￥</i></span></li>
								</ul>
								<div class="info-gift fr">
									<img src="./public/images/main/myPrize/lww@3x.png" alt="" />
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="padding-bg">
							<div class="fl list-img">
								<a href="">
									<img src="./public/images/main/myPrize/haibao@3x.png" alt="" />
								</a>
							</div>

							<div class="fl list-info">
								
								<div class="info-score">
									<p></p><i></i><span></span></p>
								</div>
								
								<div class="info-name">
									<p>你的名字</p>
									<p>二次元海报壁纸</p>
								</div>

								<ul>
									<li>时间<span>03 <i>/27</i></span></li>
									<li>数量<span>1 <i>/个</i></span></li>
									<li>价值<span>150 <i>￥</i></span></li>
								</ul>
								<div class="info-gift fr">
									<img src="./public/images/main/myPrize/lww@3x.png" alt="" />
								</div>
							</div>
						</div>
					</li>

					<li>
						<div class="padding-bg">
							<div class="fl list-img">
								<a href="">
									<img src="./public/images/main/myPrize/shubao@3x.png" alt="" />
								</a>
							</div>

							<div class="fl list-info">
								
								<div class="info-score">
									<p></p><i></i><span></span></p>
								</div>
								
								<div class="info-name">
									<p>刀剑神域</p>
									<p>幸运石动漫周边背包</p>
								</div>

								<ul>
									<li>时间<span>03 <i>/27</i></span></li>
									<li>数量<span>1 <i>/个</i></span></li>
									<li>价值<span>150 <i>￥</i></span></li>
								</ul>
								<div class="info-gift fr">
									<img src="./public/images/main/myPrize/lww@3x.png" alt="" />
								</div>
							</div>
						</div>
					</li>

				</ul>
			</div>

			<div class="position-fixed"></div>
				
		</div>

		<div class="tabs">
			
			<ul>
				
				<li><a href="">
					<img src="./public/images/inco/shou@3x.png" alt="" />
					<span>首页</span>
				</a></li>

				<li><a href="">
					<img src="./public/images/inco/geng@3x.png" alt="" />
					<span>分类</span>
				</a></li>

				<li><a href="../personal/personal.html">
					<img src="./public/images/inco/gr@3x.png" alt="" />
					<span class="on">我的</span>
				</a></li>

			</ul>

		</div>

	</div>
