
	<div class="personal">
			
			<div class="personal-bg">
				<!-- 左边 -->
				<div class="menu-button">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
	
	
				<div class="personal-main">
					<div class="main-padding">
						<div class="set-up">
							<span></span>
						</div>
						<div class="main-use">
							<div class="empty">
								<h2>空空</h2>
							</div>

							<div class="use-portrait">
								<img src="./public/images/main/personal/txa@3x.png" alt="" />
							</div>

							<div class="use-name">
								<input type="text" contenteditable="true" name="username" disabled="disabled" value="黝黑的小白兔">
								<div><img src="./public/images/main/personal/xgm_Solid@3x.png" /></div>
							</div>

							<div class="use-info">
								<ul>
									<li><a href="">
										<div>
											<i class="use-icon"></i>
											<span>关注</span>
										</div>	
										<p class="use-num">123</p>
									</a></li>
									<li><a href="">
										<div>
											<i class="use-icon"></i>
											<span>粉丝</span>
										</div>	
										<p class="use-num">123</p>
									</a></li>
									<li><a href="">
										<div>
											<i class="use-icon"></i>
											<span>访客</span>
										</div>	
										<p class="use-num">123</p>
									</a></li>
								</ul>
							</div>
						</div>

						<div class="main-list">
							<ul>
								<li ng-click="goStateName('home.collectPage')"><a>
									<div class="fl list-name"><h3>我的收藏</h3></div>
									<div class="fr list-to"><h3></h3></div>
								</a></li>

								<li ng-click="goStateName('home.watchHistory')"><a>
									<div class="fl list-name"><h3>我的历史</h3></div>
									<div class="fr list-to"><h3></h3></div>
								</a></li>
								<li ng-click="goStateName('home.myPrize')"><a>

									<div class="fl list-name"><h3>我的奖品</h3></div>
									<div class="fr list-to"><h3></h3></div>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		
	</div>
	
