

	<div class="readingPage">
		
		<div class="readingPage-title common">
			
			<div class="search">
				<div class="go-to" ui-sref="home.videoPage"><img src="./public/images/inco/fh@3x.png"></div>
				<h5>12/24</h5>
				<div class="search-img"><img src="./public/images/inco/lbb@3x.png"></div>
			</div>

		</div>

		<div class="readingPage-main">
			<img src="./public/images/main/readingPage/timg@3x.png" alt="">
		</div>

		<div class="tabs">
			<div class="bar">
				<ul>
					<li class="fl prev"><a href=""><img src="./public/images/main/readingPage/sye@3x.png" alt=""></a></li>
					<li class="schedule"><a href=""><p></p></a></li>
					<li class="fr next"><a href=""><img src="./public/images/main/readingPage/sye@3x.png" alt=""></a></li>
				</ul>
			</div>
			<ul>
				
				<li><a href="">
					<img src="./public/images/main/readingPage/brightness.png" alt="" />
					<span>亮度</span>
				</a></li>

				<li><a href="">
					<img src="./public/images/main/readingPage/screenshot.png" alt="" />
					<span>截图</span>
				</a></li>

				<li><a href="">
					<img src="./public/images/main/readingPage/set-up.png" alt="" />
					<span>设置</span>
				</a></li>

			</ul>

		</div>

	</div>
